/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}
.text-orange{
    color: orange;
}
.btn-book{
    background-image: linear-gradient(#E7717D, #C3073F);
    color: whitesmoke;
    border: none;
}
.fa-check-circle{
    color: palevioletred;
}

.wedding-plus{
    padding: 40px 17px;
}