/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    overflow-x: hidden;
}
.text-orange{
    color: #AC3B61;
}
.btn-book{
    background-image: linear-gradient(#E7717D, #C3073F);
    color: whitesmoke;
    border: none;
}
.team-event{
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    
}
.team-event:hover{
    transform: scale(.9);
}
.fa-check-circle{
    color: palevioletred;
}

.wedding-plus{
    padding: 40px 17px;
}
.package-3{
    border-radius: 17px;
}